#root {
  max-width: 1280px;
  margin: 0 ;
  padding: 0;
  color:black; /*changed*/
}
.div{
  background-color:rgb(255, 255, 255);
  width:100vw;
  height:92.5vh;
  margin-top:100px;
  display:flex;
}

/* when dark theme is active, make the main app container also dark */
html[data-theme='dark'] .div{
  background-color: #000000;
  color: #ffffff;
}

/* ensure root text color follows theme */
html[data-theme='dark'] #root{
  color: #ffffff;
}