@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:blue;
    height:100px;
    width:250px;
    position:absolute;
    right:0;
    margin-top:100px;
    margin-right:80px;
    border-top: 4px solid #D5DDCD;
    border-bottom: 4px solid #415B41;
    font-family:Andada Pro;
    font-size:30px;
}