@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.desktop{
    font-family: 'Andada Pro', serif;
    color:black;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100vw;
    height:900px;
}
.box{
    background-color:white;
    box-shadow: 0px 0px 18px #D9D9D9;
    border-radius:150px;
    width:1150px;
    height:500px;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    row-gap:50px;
}
.button{
    width:300px;
    height:75px;
    font-size:30px;
    color:white;
    background-color:#415B41;
    border-radius:30px;
    border:1px solid #233833;
}
.form1{
    display:flex;
    flex-direction:column;
    align-items:start;
    color:black;
    font-size:30px;
    font-weight:600;
    font-family: 'Andada Pro', serif;
}
.input{
    width:400px;
    height:50px;
    font-size:20px;
    border-radius:10px;
    border:1px solid black;
    background-color:white;
    color:black;
}
.flexor{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    column-gap: 100px;
}
.box1{
    width:400px;
    height:50px;
    font-size:20px;
    border-radius:10px;
    border:1px solid black;
    background-color:white;
    color:black;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.p{
    font-size:30px;
    font-weight:600;
}