@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.desktop{
    font-family: 'Andada Pro', serif;
    color:black;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100vw;
    height:900px;
}
.h1{
    font-size:30px;

}
.box{
    background-color:white;
    box-shadow: 0px 0px 18px #D9D9D9;
    border-radius:150px;
    width:880px;
    height:640px;

    margin:40px;
    margin-right:450px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.p{
    font-size:20px;
    margin-right:300px;
    margin-bottom:0px;
}
.form{
    display:flex;
    flex-direction:column;
    align-items:start;
    color:black;
    font-size:30px;
    font-family: 'Andada Pro', serif;
    font-weight:500;
    margin-right:300px;
    margin-top:150px;
}
.input{
    width:400px;
    height:50px;
    font-size:20px;
    border-radius:10px;
    border:1px solid black;
    background-color:white;
    color:black;
}
.button{
    width:300px;
    height:75px;
    font-size:30px;
    color:white;
    background-color:#415B41;
    border-radius:30px;
    border:1px solid #233833;
    margin-top:50px;
}
.image{
    width:580px;
    height:300px;
    position:absolute;
    margin-left:880px;
    margin-bottom:100px;
}