.desktop{
    font-family: 'Andada Pro', serif;
    color:black;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100vw;
    height:100vh;
}
.left{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.right{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.box{
    background-color:white;
    box-shadow: 0px 0px 18px #D9D9D9;
    border-radius:150px;
    width:1140px;
    height:500px;

    display:flex;
    align-items:center;
    justify-content:center;
}
.box2{
    background-color:white;
    box-shadow: 0px 0px 18px #D9D9D9;
    border-radius:150px;
    width:500px;
    height:250px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.p{
    font-size:30px;
    color:black;
    margin-left:50px;
}
.form1{
    display:flex;
    flex-direction:column;
    align-items:start;
    color:black;
    font-size:30px;
    font-family: 'Andada Pro', serif;
    
    margin-left:50px;
}
.form2{
    display:flex;
    flex-direction:column;
    align-items:start;
    color:black;
    font-size:30px;
    font-family: 'Andada Pro', serif;
    margin-top:50px;
}
.form3{
    display:flex;
    flex-direction:column;
    align-items:start;
    color:black;
    font-size:30px;
    font-family: 'Andada Pro', serif;
    
    margin-left:50px;
    margin-bottom:50px;
}
.input{
    width:400px;
    height:50px;
    font-size:20px;
    border-radius:10px;
    border:1px solid black;
    background-color:white;
    color:black;
}
.button{
    width:300px;
    height:75px;
    font-size:30px;
    color:white;
    background-color:#415B41;
    border-radius:30px;
    border:1px solid #233833;
    margin-top:50px;
}
.h2{
    font-size:30px;
    color:black;
}
.h3{
    font-size:25px;
    color:black;
}
.box1{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-right:200px;
}
.h1{
    font-size:30px;
    color:black;
    margin-bottom:30px;
}