.desktop{
    font-family: 'Andada Pro', serif;
    color:black;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100vw;
    height:900px;
}
.h1{
    font-size:30px;
    margin-bottom:60px;
}
.button{
    width:300px;
    height:75px;
    font-size:30px;
    color:white;
    background-color:#415B41;
    border-radius:30px;
    border:1px solid #233833;
}
.form{
    display:flex;
    flex-wrap:wrap;
    align-items:start;
    color:black;
    font-size:30px;
    font-family: 'Andada Pro', serif;
    font-weight:500;
    width:900px;
    gap:0 80px;
}
.input{
    width:400px;
    height:50px;
    font-size:20px;
    border-radius:10px;
    border:1px solid black;
    background-color:white;
    color:black;
}

.inputBox{
    display:flex;
    flex-direction:column;
}
.box{
    background-color:white;
    box-shadow: 0px 0px 18px #D9D9D9;
    border-radius:150px;
    width:1160px;
    height:640px;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}